@model WebApplication2.pizzaOrders

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>pizzaOrders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.order_Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.orderID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
